/* Card.module.css */
.container {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.capa {
  width: 100%;
  height: auto;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


