.videoPlayer {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-bottom: 60px;
  }
  
  .videoPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: auto;
    border: 0;
    
  }
  