/* Importación de la fuente Roboto Condensed desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definición de variables CSS en :root */
:root {
  --font: Roboto Condensed, sans-serif; /* Usar Roboto Condensed en lugar de Roboto */
  --blanco: #fff;
  --negro: #222;
  --dark-gray: #0f0e0e;
}

/* Estilos para el cuerpo del documento */
body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
