/* Estilos generales para pantallas grandes */
.videoCategories {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 0;
}

.category {
  width: 100%;
}

.categoryTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--dark-gray);
  background-color: #888;
  padding: 30px 10px; /* Ajuste del padding */
  border-radius: 15px;
  margin: 30px;
  margin-bottom: 20px; /* Reducción del margen inferior */
  width: 400px; /* Ajuste para ajustarse al contenido */
  text-align: center;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas horizontalmente */
}

.container {
  width: 300px; /* Tamaño fijo para las tarjetas */
  height: 250px; /* Altura fija para mantener la proporción */
  overflow: hidden; /* Ocultar contenido que se desborde */
}

.link,
.capa {
  width: 100%;
  height: 100%; /* Ajuste para ocupar toda la altura del contenedor */
  object-fit: cover; /* Ajuste para que la imagen cubra completamente el contenedor */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .categoryTitle {
    font-size: 32px;
    padding: 20px 10px;
    width: 80%;
  }

  .videoList {
    gap: 20px;
    justify-content: space-around;
  }

  .container {
    max-width: 300px; /* Reducir el tamaño máximo de las tarjetas */
    height: 200px; /* Reducir la altura de las tarjetas */
  }
}
